{% extends 'Nations/base.html' %}

{% block content %}
    <h1><a href="{% url 'Nations:completed_matches_replays' %}">Download Replays</a></h1>
    <h1>Nations Stats</h1>
    <p>You can download the replays of all of the completed matches on this site and use them to collect stats.</p>
    <p>See instructions for how to feed the replays into the nations module at <a href="https://github.com/Logitude/nations">https://github.com/Logitude/nations</a></p>
    <p>The stats collection could use plenty of work. This is just a start.</p>
{% endblock %}
