{% extends 'Nations/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="d-grid gap-3">
        {% if not authorized %}
            <h1>Unauthorized</h1>
            <p>Only the tournament organizer is allowed to manage this tournament.</p>
        {% else %}
            <h1>Manage Nations Tournament</h1>
            <div>
                <form method="post" action="{% url 'Nations:manage_tournament' pk=tournament.pk %}">
                    {% csrf_token %}
                    <div class="d-grid gap-3">
                        {% for field in form %}
                            <div class="form-group">
                                {% if field.field.widget.attrs.class == 'form-check-input' %}
                                    <div class="col-9 px-0">
                                        <div class="row">
                                            {% render_field field %}
                                            <label class="form-check-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                        </div>
                                    </div>
                                {% elif field.field.widget.attrs.class == 'form-select' %}
                                    <div class="col-6 px-0">
                                        <div class="form-floating">
                                            {% render_field field %}
                                            <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-6 px-0">
                                        <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                        {% render_field field class="form-control" %}
                                    </div>
                                {% endif %}
                                {% for error_message in field.errors %}
                                    <div>
                                        <small id="id_{{ field.name }}" class="text-danger">{{ error_message }}</small>
                                    </div>
                                {% endfor %}
                                {% if field.help_text %}
                                    <div>
                                        <small id="id_{{ field.name }}" class="text-mutex">{{ field.help_text }}</small>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div>
                            <button class="btn btn-primary" type="submit">Update Tournament</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
